@namespace MauseTalkBackend.Client.Layout
@inherits LayoutComponentBase

<div class="chat-layout-container">
    @Body
</div>

<style>
    .chat-layout-container {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
</style>